<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel_Project_Portfolio.Properties.Settings.Hotel_ProjConnectionString"
            connectionString="Data Source=LAPTOP-OQ3O82NV\SQLEXPRESS;Initial Catalog=Hotel_Proj;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>